footer
    nav.main-menu
      ul
        li
          a(href='') home
        li
          a(href='') about
        li
          a(href='') blog
        li
          a(href='') products
        li
          a(href='') lorem ipsum
        li
          a(href='') dolor sit amet
    p
      | Designed by 
      span Pingbull AS