header
    h1
      | pingbull
      span er
    nav.main-menu
      ul
        li
          a(href='') home
        li
          a(href='') about
        li
          a(href='') blog
        li
          a(href='') products
        li
          a(href='') lorem ipsum
        li
          a(href='') dolor sit amet
    .dropdown
      ul.mainmenubtn
        li
          a(href='') home
          ul.second-level
            li
              a(href='') about
            li
              a(href='') blog
            li
              a(href='') products
            li
              a(href='') lorem ipsum
            li
              a(href='') dolor sit amet